<div class="p-6 bg-base-100 shadow-lg rounded-lg">
    <div class="collapse collapse-arrow">
        <input type="checkbox" class="peer" />

        <div class="collapse-title text-xl text-center font-medium">
            Password Form
        </div>

        <div class="collapse-content">
            <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
                <div class="form-control mb-4">
                    <label class="label">
                        <span class="label-text">Password</span>
                    </label>
                    <input type="password" formControlName="password" placeholder="Enter password"
                        class="input input-bordered w-full" />
                    <div *ngIf="passwordForm.get('password')?.invalid && passwordForm.get('password')?.touched"
                        class="text-error mt-2">
                        <small *ngIf="passwordForm.get('password')?.errors?.['required']">Password is required.</small>
                        <small *ngIf="passwordForm.get('password')?.errors?.['minlength']">Password must be at least 6
                            characters long.</small>
                    </div>
                </div>

                <div class="form-control mb-4">
                    <label class="label">
                        <span class="label-text">Confirm Password</span>
                    </label>
                    <input type="password" formControlName="confirmPassword" placeholder="Confirm password"
                        class="input input-bordered w-full" />
                    <div *ngIf="passwordForm.get('confirmPassword')?.invalid && passwordForm.get('confirmPassword')?.touched"
                        class="text-error mt-2">
                        <small *ngIf="passwordForm.get('confirmPassword')?.errors?.['required']">Confirm password is
                            required.</small>
                        <small *ngIf="passwordForm.get('confirmPassword')?.errors?.['passwordsDoNotMatch']">Passwords do
                            not match.</small>
                    </div>
                </div>

                <div class="mt-6">
                    <button type="submit" class="btn btn-primary" [disabled]="passwordForm.invalid">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>