<app-number-emitter></app-number-emitter>
<div class="flex flex-col items-center m-2">
    <button routerLink="/register" class="btn btn-primary mb-2">
        Go to Registration
    </button>
    <button routerLink="/profile" class="btn btn-primary">
        Go to Profile
    </button>
</div>
<app-fetch-data></app-fetch-data>
<app-confirm-password-form></app-confirm-password-form>
<app-phone-form></app-phone-form>
<app-user-form></app-user-form>
<app-auto-save-form></app-auto-save-form>
<app-real-time-search-form></app-real-time-search-form>

<router-outlet></router-outlet>